body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: 'Quicksand', sans-serif !important;
  font-weight: 100;
  color: #4D606E; }

.plus-icon {
  fill: white; }

header {
  text-align: center;
  margin: 0px 0 0 0; }

.logo {
  width: 270PX;
  height: 200PX; }

.menu-buttons {
  position: fixed;
  z-index: 99;
  right: 10px;
  top: 20px;
  width: 80px;
  text-align: center; }
  .menu-buttons button, .menu-buttons a {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    border: none;
    background: white;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 12px;
  }
    .menu-buttons button:first-of-type, .menu-buttons a:first-of-type {
      margin-bottom: 12px; }

.profile-button {
  background-image: url(../img/profielfoto.png) !important;
  background-position: center !important;
  background-size: cover !important; }

.map-button {
  background-image: url(../svg/map-icon.svg) !important;
  background-position: center;
  background-size: cover; }

.main-content {
  width: 969px;
  margin: auto; }

.add-button {
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  background-color: #EA5455;
  color: white;
  margin: 0 auto;
  display: block;
  padding: 12px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 50%; }
  .add-button:before {
    background: url("../svg/plus-icon.svg") no-repeat scroll center center/100% auto transparent;
    content: "";
    display: inline-block;
    color: #fff;
    height: 15px;
    position: relative;
    top: -2px;
    vertical-align: middle;
    width: 15px;
    margin: 0 10px 0 0; }

.fixed-position {
  position: fixed;
  z-index: 99;
  top: 50px;
  left: 25%; }

.info-balk {
  margin: 15px 0 5px 0;
  font-weight: 500; }
  .info-balk p {
    display: inline-block;
    padding-left: 20px; }

select {
  border: none;
  outline: none;
  background: white;
  font-size: 1em;
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
  color: #EA5455; }

.post-counter {
  float: right; }

.wall-post {
  border: 1px solid #3D84A8;
  display: inline-block;
  margin-bottom: 10px; }

.grid-item {
  width: 318px;
  height: auto;
  float: left; }
  .grid-item h2 {
    font-size: 1.4em;
    padding: 16px;
    background: #3D84A8;
    color: #FFF; }
  .grid-item .post-message {
    background-color: #3D84A8;
    margin: 0;
    font-weight: 500;
    font-size: 1.2em;
    line-height: 1.2em;
    height: 150px;
    padding: 0 16px;
    color: #FFF; }
  .grid-item footer {
    padding: 0 10px;
    height: 52px;
    line-height: 52px; }
    .grid-item footer * {
      display: inline-block;
      vertical-align: middle; }
    .grid-item footer .location {
      margin: 0 10px 0 5px;
      cursor: pointer; }
    .grid-item footer .icon {
      width: 18px;
      height: 18px; }
    .grid-item footer .like-counter,
    .grid-item footer .dislike-counter,
    .grid-item footer .fav-counter,
    .grid-item footer .dislike-icon,
    .grid-item footer .fav-icon,
    .grid-item footer .like-icon {
      font-weight: 700; }
    .grid-item footer .like-counter,
    .grid-item footer .dislike-counter,
    .grid-item footer .fav-counter {
      margin-right: 5px;
      padding: 0; }
    .grid-item footer .like-counter {
      color: #EA5455; }
    .grid-item footer .dislike-counter {
      color: #4D606E; }
    .grid-item footer .fav-counter {
      color: #FAB57A; }
    .grid-item footer .post-profile-picture {
      width: 32px;
      height: 32px; }

.grid-item--width2 {
  width: 300px; }

.grid-item--height2 {
  height: 290px; }

.post-img {
  width: 100%;
  height: auto;
  display: block; }

.map {
  width: 100%;
  height: 80%; }

#modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.95); }

.grid {
  width: 985px; }

.logOut {
  float: left;
  margin-left: -80px;
  margin-top: 12px;
  text-decoration: none;
  color: #000;
  width: auto !important;
}

/*# sourceMappingURL=index.css.map */
